@font-face {
    font-family: 'muliregular';
    src: url(../../assets/fonts/muli/Muli-Regular.ttf);
  }
.main_hold
{
    width: 100%;
    width: 100%;
    min-height: 200px;
    margin: 1%;
    display: grid;
    grid-template-columns: 72% 28%;
    align-items: center;
    column-gap: 30px;

}
.review_card
{
    padding-left: 0px;
    padding-right: 8px;
}

.review_data
{
    width: 100%;
    height: 100%;
    padding: 3% 3% 3% 2%!important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding:10px;
  
box-shadow: 0px 0px 25.2px 4.8px rgba(167, 167, 167, 0.25);
   
    display: grid;
    align-items: center;
    grid-template-areas: "pic pic auth auth"
                          "pic pic para para"
                          "pic pic para para";
}
.picture
{    
    padding: 5%;
    grid-area:pic;
    align-self: center;
   
    
}
.container_img
{
    width: 100%;
    
    border-radius: 50%!important;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.author
{
    grid-area: auth;
    padding-top: 1%;
    font-family: Centurygothic !important;
    
}
.para
{
    grid-area: para;
    width: 100%;
    padding: 1%;
    font-family: muliregular !important;
    font-size: 17px !important;

}

.auth_head
{
    font-weight: bold;
    font-size: 1.2em;
    color: #446beb;
}
.auth_name
{
    color: rgba(0,0,0,0.54);
    
}
.main_img_card
{
    width: 100%;
    height:auto;
    border-radius: 50%;
}

.card_data
{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 14.5%;
}

.image
{
    padding: 5%;
}

.case
{
    padding: 1%;
    margin: 1%;
    border:none;
    background:none;
}
.case:first-child img{
    transform: rotate(-90deg);

}
.case:last-child img{
    margin-left: 20px;
    transform: rotate(90deg);

}
.sigh
{
    width: 83%;
    text-align: right;
}

@media only screen and (max-width: 992px)
{
    .main_hold
    {
        display: block;
        margin-bottom: 26%;
    }
    .card_data
    {
        flex-direction: column;
    }
    .ratched
    {
        display: flex;
        justify-content: center;
    }
    .sigh
    {
        text-align: center;
    }
    .sigh {
        width: 100%;
        
    }
}
