

@font-face {
    font-family: 'muliregular';
    src: url(../../assets/fonts/Muli_Font/Muli-Regular.ttf);
}
@font-face {
    font-family: 'mulisemibold';
    src: url(../../assets/fonts/Muli_Font/Muli-SemiBold.ttf);
}
@font-face {
    font-family: 'mulibold';
    src: url(../../assets/fonts/Muli_Font/Muli-Bold.ttf);
}

@font-face {
    font-family: 'Centurygothic';
    src: url('../../assets/fonts/Century_Gothic_Font/GOTHICB.TTF')
}



@font-face {
    font-family: binx;
    src: url(../WeHave/Binx.ttf);
}

.glancetext{
    font-family: Centurygothic !important;
}
.glancesubtext{
    font-family: Centurygothic !important;
}
.icon-container {
    padding: 10px;
    float: left;
    cursor: pointer;
   
    margin-bottom: 30px;
}
.glance_top{
      
    margin-top: 150px;
    margin-bottom: 50px;
 
}
[class*="eicon-"] {
    display: block;
}
[class*="eicon-"]:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}

.svgText_main{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding:10px;


}
.glancyicon{
    margin-top: 25px;
}
.svgText_main >div{
    display:flex;
    flex-direction: column;
   
    align-items: center;
    
    
} 
.svgText_main >div >div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.info_card{
    width:80%;
    margin:0 auto;
   position: relative;
    margin-bottom: 100px;
 

}
.info_card span{
    
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    line-height: 2.4em;
    padding-right: 20px;
    padding-left: 10px;
    border-right:2px solid black;
    font-family: Centurygothic !important;
}
.flexd{
    margin-top: 30px;
}
.glanceinside{
    font-family: binx !important;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    width: 15%!important;
    text-transform: lowercase;
  margin:0 auto;
  right:-70px;
  bottom:-40px;
    
}
.sellsol_main_para span{
    color:#446beb;
}
@media only screen and (max-width: 992px) {
    .flexd{
        display:flex;
        align-items:flex-start;
    }
    .svgText_main{
        display: flex;
        flex-direction: column;
    }
    .svgText_main div {
        
        flex-direction: row;
        
    }
    .leftarrowmobhide{
        display:none;
        margin-bottom: 0!important;
    }
    .svgText_main div >*>img{
       width:50px;
    }
    .svgText_main div{
       
        width:100px;
        margin-right: 10px;
       
    }
    .svgText_main > div{
        margin-bottom: 80px;
    }
    .svgText_main div div h5{
       
        font-size: 15.0px;
    }
    
    .svgText_main div i{
        margin-left: 0px;
        margin-right: 10px;
        transform:rotate(90deg)
    }
    
    .info_card{
        background:white;
        padding:10px 15px ;
        border-radius: 15px;
background-color: #ffffff;
box-shadow: 0px 0px 25.2px 4.8px rgba(167, 167, 167, 0.25);
padding-bottom: 30px;
margin-right: 10px;


    }
    .info_card span{
        font-size: 16px;
        border:0;
        display:block;
        margin-bottom: -15px;
        font-weight: 400;
        
      
    }
    .info_card span:last-child{
        margin-bottom: 10px;
    }
    .glanceinside{
       
        width: 50% !important;
        bottom:5px;
      
    }
  
}